<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <span class="navbar-brand mb-0 h1">MusicN'Lyric</span>

      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/history">History</a>
      </div>
  </nav>
</div>
